function Interface.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push constant 20
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    pop this 0
    push constant 8
    call String.new 1
    push constant 89
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    pop this 1
    push constant 11
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    pop this 2
    push constant 11
    call String.new 1
    push constant 70
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    pop this 3
    push constant 12
    call String.new 1
    push constant 83
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    pop this 4
    push constant 11
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    pop this 5
    push pointer 0
    return
function Interface.PrintScore 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 10
    push constant 29
    call Output.moveCursor 2
    pop temp 0
    push this 1
    call Output.printString 1
    pop temp 0
    push constant 12
    push constant 30
    call Output.moveCursor 2
    pop temp 0
    push argument 1
    call GameCounter.GetScore 1
    call Output.printInt 1
    pop temp 0
    push constant 0
    return
function Interface.drawFirstLevel 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 12
    push constant 28
    call Output.moveCursor 2
    pop temp 0
    push this 3
    call Output.printString 1
    pop temp 0
    push constant 1000
    call Sys.wait 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Interface.drawSecondLevel 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 12
    push constant 26
    call Output.moveCursor 2
    pop temp 0
    push this 4
    call Output.printString 1
    pop temp 0
    push constant 1000
    call Sys.wait 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Interface.drawThirdLevel 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 12
    push constant 26
    call Output.moveCursor 2
    pop temp 0
    push this 5
    call Output.printString 1
    pop temp 0
    push constant 1000
    call Sys.wait 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Interface.drawLostString 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 12
    push constant 26
    call Output.moveCursor 2
    pop temp 0
    push this 2
    call Output.printString 1
    pop temp 0
    push constant 1000
    call Sys.wait 1
    pop temp 0
    push constant 0
    return
function Interface.drawStartString 2
    push argument 0
    pop pointer 0
    push constant 12
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push this 0
    call Output.printString 1
    pop temp 0
    push constant 0
    pop local 1
label Interface_0
    push local 1
    not
    not
    if-goto Interface_1
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 128
    eq
    not
    if-goto Interface_3
    push constant 1
    neg
    pop local 1
    goto Interface_2
label Interface_3
label Interface_2
    goto Interface_0
label Interface_1
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return